body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    text-align: center;
}

a {
    text-decoration: none;
}

/* Header */
.header {
    background-color: gray;
    color: white;
    width: inherit;
    padding: 20px;
    user-select: none;
}

.home-link {
    color: white;
}

sub {
    font-size: medium;
}

/* Main Contents */
.content {
    margin-top: 50px;
}

table {
    border: 1px solid;
    margin: auto;
}

table a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

table a:hover {
    text-decoration: underline;
}

th, td {
    text-align: center;
    padding: 10px;
    border: 1px solid;
}

form {
    background-color: gray;
    text-align: justify;
    border-radius: 25px;
    padding: 30px;
    margin: auto;
    width: 20%;
}

label, input {
    display: block;
    width: 100%;
    line-height: 30px;
    font-size: large;
}

button {
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    font-size: large;
}

/* Footer */
footer {
    margin-top: 100px;
}

.footer-link {
    color: black;
}

.footer-link:hover {
    text-decoration: underline;
}